@import "../styles/styles.scss";

.container {
  display: flex;
  justify-content: center;
  width: 100%;
  background: #11172b;
  padding: 70px 0;

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1440px;
    width: 100%;
    gap: 50px;
    .title {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      h2 {
        font-family: "Inter", sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 58px;
        text-align: center;
        color: #0ee7b7;
      }

      span {
        width: 80px;
        height: 4px;
        background: #0ee7b7;
      }
    }

    .cards {
      width: 100%;
      display: flex;
      justify-content: center;
      gap: 50px;

      .card {
        display: flex;
        flex-direction: column;
        background: linear-gradient(
          225deg,
          rgb(49, 56, 96) 0%,
          rgb(17, 23, 43) 100%
        );
        padding: 30px 16px;
        height: fit-content;
        align-items: flex-start;
        -webkit-box-pack: start;
        justify-content: flex-start;
        max-width: 19rem;
        transition: all 0.5s ease 0s;
        //margin-top: 4rem;

        h3 {
          color: rgb(14, 231, 183);
          font-size: 2rem;
          margin-bottom: 15px;
        }
        h4 {
          color: rgb(122, 199, 227);
          font-size: 1.5rem;
          font-weight: 300;
          margin-bottom: 16px;
        }
        span {
          display: flex;
          justify-content: space-between;
          width: 100%;
          margin-bottom: 16px;
          p {
            font-size: 18px;
            font-weight: 300;
            color: #c383dd;
          }
        }
        .description {
          color: rgb(196, 196, 196);
          font-size: 1rem;
          font-weight: 300;
        }
        .technologies {
          margin-top: 1rem;
          font-size: 1rem;
          font-weight: 300;
          color: rgb(196, 196, 196);
          strong{
            font-weight: 600;
          }
        }
        
        .toggleButton {
          background-color: #007bff;
          color: white;
          border: none;
          padding: 8px 16px;
          cursor: pointer;
          margin-top: 8px;
        }

        .toggleButton:hover {
          background-color: #0056b3;
        }
      }
      .cardExpanded {
        max-width: 19rem;
        width: 100%;
      }
    }
  }

  @include responsive("phone-L") {
    padding: 40px 0;
    .content {
      gap: 40px;
      .title {
        h2 {
          font-size: 30px;
          font-weight: 600;
          line-height: 31px;
          letter-spacing: 0em;
          text-align: center;
        }
      }
      .cards {
        @include flex-column-center;
        gap: 25px;
        .card {
          margin-top: 0;
          padding: 20px 16px;

          h4,
          h3 {
            margin: 0 0 0 0;
          }
        }
      }
    }
  }
}
